image: makeorg/docker-sbt-coursier

stages:
  - coverage
  - build

coverage:
  stage: coverage
  tags:
    - docker
  before_script:
    - mkdir -p /var/lib/docker
    - mount -t tmpfs -o size=12G tmpfs /var/lib/docker
    - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=overlay2 dockerd & fi
    - until docker ps; do echo "waiting for docker to be up..."; sleep 0.5; done
  script:
    - sbt clean coverage test
    - sbt coverageReport
    - sbt codacyCoverage

build:
  stage: build
  script:
    - sbt package