image: makeorg/docker-sbt-coursier

stages:
  - coverage
  - build

coverage:
  stage: coverage
  tags:
    - docker
  before_script:
    - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=vfs dockerd & fi
    - until docker ps; do echo "waiting for docker to be up..."; sleep 0.5; done
    - docker pull bouncestorage/swift-aio
  script:
    - sbt clean coverage test
    - sbt coverageReport
    - sbt codacyCoverage

build:
  stage: build
  script:
    - sbt package